.wordle-grid {
  display: grid;
  padding: 10px;
  border: 1px solid black;
  border-radius: 2px;
  grid-gap: 8px;
}

.wordle-row {
  display: grid;
  grid-template: 40px / repeat(5, 40px);
  grid-gap: 8px;
}

.wordle-cell {
  border: 1px solid rgb(20, 20, 20);
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;

  &--miss {
    background: rgba(0, 0, 0, 0.4);
  }

  &--hit {
    background: green;
  }

  &--hasChar {
    background: yellow;
  }
}
